.App {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "form chart-buttons chart"
    "data . chart"
    "favorites . .";
  margin: 25px;
}

form {
  grid-area: form;
}

.weather-info-container {
  display: flex;
  grid-area: data;
}

.recharts-wrapper {
  grid-area: chart;
}

.chart-buttons-container {
  grid-area: chart-buttons;
  display: flex;
  flex-direction: column;
}

.active {
  background: rgb(130, 202, 157);
  outline: none;
}

.favorites {
  grid-area: favorites;
}

.recharts-cartesian-axis-ticks {
  font-size: 14px;
}

@media only screen and (max-width: 900px) {
  .App {
    display: grid;
    grid-template-columns: minmax(200px, auto) auto;
    grid-template-rows: auto;
    grid-template-areas:
      "form data"
      "chart-buttons chart";
  }
  .weather-info-container {
    justify-content: center;
  }
}
